<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\internal-nlog.txt"
      throwExceptions="true">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="${basedir}/Logs/Logs.log"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}"
             archiveEvery="Day"
             archiveFileName="Logs/Archive.{#}.log"
             archiveNumbering="Date"
             archiveDateFormat="yyyy-MM-dd"
             maxArchiveFiles="30"/>
    <target name="console" xsi:type="Console" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${message}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>